<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Admin <%= SITE_TITLE %></title>
  </head>
  <body>
    <div id="<%=SLIDES_ID%>">
      <!-- render slides -->
    </div>

    <div class="page">
      
      <div class="header">
        <div id="<%=CLI_ID%>"><!-- cli render by js --></div>

          <div class="auth-google">
            <div class="auth-google__username"></div>
             <a href="#" class="btn-google-login">Google in</a>
          </div>
        
        
        <div class="admin-form">
          <div class="admin-form__container-input-list">
            <input list="<%=TAGS_ID%>"
            width="10" class="admin-form__input-list" id="<%=CURRENT_TAG_ID%>"/>
            <datalist id="<%=TAGS_ID%>">
              <!-- insert options by javascript. Data must recived from server -->
            </datalist>
          </div>
          <div>
            <textarea
              rows="2"
              cols="50"
              class="admin-form__textarea"
              id="admin-textarea-new-note"
            ></textarea>
          </div>
        </div>
      </div>
      
      <!-- content render by js -->
      <div id="<%=CONTENT_ID%>" class="content">

      </div>
    </div>


    <div class="timer-gong">
      <audio id="gong">
          <source src="http://4umi.com/web/sound/gonghi.wav" type="audio/mpeg">
      </audio>
      <div class="timer-gong__content">
           start
      </div>  
  </div>
  
  </body>
</html>
